spring:
    application:
        name: meeting-server

    datasource:
        url: jdbc:h2:file:./data/meeting
        driver-class-name: org.h2.Driver
        username: sa
        password:

    h2:
        console:
            enabled: true
            path: /h2-console

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                format_sql: true
                dialect: org.hibernate.dialect.H2Dialect

server:
    port: 8084

cors:
    allowed-origins: http://localhost:5173
    allowed-methods: GET,POST,PUT,PATCH,DELETE,OPTIONS
    allowed-headers: '*'
    allow-credentials: true
