/* ListPage Specific Styles */

.list-main {
    justify-content: flex-start;
    gap: 5vw;
    /* Changed from 4rem */
}

.list-table-container {
    width: 90%;
    max-width: 80vw;
    /* Changed from 800px */
}